
.navbar {
    display: flex;
}

.navbarBrand {
    padding: 2rem;
}
.navbarItemContainer {
    display: flex;
    margin-left: auto;
    /* position: relative; */
    padding: 2rem;
}

.innerNavbarItemContainer {
    display: flex;
    margin-left: 2rem;
}

.navbarBrandImage {
    width: 180px;
    height: 43.219px;
}

.btnClose {
    padding: 8px;
    float: right;
}


.modal {
    background-color: #fff;
    width: 680px;
    padding: 8px;
}

.modalWrapper {
    background-color: rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1199.98px) {  }
@media (max-width: 991.98px) { 
    
 }

 @media (max-width: 850px) {
    .navbar {
        flex-direction: column;
    }
    .navbarItemContainer , .innerNavbarItemContainer{
        flex-direction: column;
        margin-left: 0;
    }

    .navbarBrand {
        padding-bottom: 0;
    }
 }
 @media (max-width: 767.98px) {  }
 @media (max-width: 650px) {
   .modalWrapper {
       padding: 0 5px;
       width: 100%;
   }
 }
@media (max-width: 575.98px) { 
   
 }

@media (max-width: 340px) {
    
}