.footer {
    color: #fff;
}


.body {
    display: flex;
    width: 860px;
    margin: 0 auto;
}
.wrapper {
    background-color: #2B90F7;
}

.brandImg {
    width: 320px;
    height: 80px;
}

.wave {
    display: block;
    margin-bottom: -15px;
}

.brandTitle {
    font-family: 'Roboto Bold';
}

.brandText {
    margin-top: 0;
}

.menu {
    display: flex;
}

.title {
    font-family: 'Roboto Bold';
    color: #000;
}


.submenu {
    display: flex;
    flex-direction: column;
}




@media (max-width: 1199.98px) {  }
@media (max-width: 991.98px) { 
    
 }

 @media (max-width: 850px) {
    .body {
        width: 100%;
    }
 }
 @media (max-width: 767.98px) {  }
 @media (max-width: 650px) {
    .body {
        flex-direction: column;
        padding: 8px;
    }

    .menu {
        flex-direction: column;
    }

    .submenuTitle {
        margin-bottom: 0;
    }
 }
@media (max-width: 575.98px) { 
   
 }

@media (max-width: 340px) {
    .brandImg {
        width: 100%;
    }
}