html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Regular';
}


.btn {
  border: none;
  border-radius: 3px;
  padding: 16px;
  display: inline-block;
  color:white;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #2B90F7;
}

.btn-secondary {
  background-color: #FD9043;
}

.btn-danger {
  background-color: crimson;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.form-control {
  border: 2px solid #E8F6FE;
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 16px;
}

.form-group {
  margin: 10px 0;
}