html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Regular';
}


.btn {
  border: none;
  border-radius: 3px;
  padding: 16px;
  display: inline-block;
  color:white;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #2B90F7;
}

.btn-secondary {
  background-color: #FD9043;
}