.mainWrapper {
    padding: 0 2rem;
}


.overlay {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -99999;
}

.overlayRect {
    background: #E8F6FE;
    height: 600px;
}

.mainContent {
    margin-top: 450px;
}